router/branches/1.0/etc/schema/ccr/CCR20050426.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by Rick Peters (American Academy of Family Physicians) -->
<xs:schema xmlns="urn:astm-org:CCR" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ccr="urn:astm-org:CCR" targetNamespace="urn:astm-org:CCR" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="ContinuityOfCareRecord">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CCRDocumentObjectID" type="xs:string"/>
				<xs:element name="DateTime" type="ISO8601DateTimeSeconds">
					<xs:annotation>
						<xs:documentation>This is the CCR Creation date time. It must be expressed with precision to the second.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Patient" maxOccurs="2">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ActorID" type="xs:IDREF"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="From" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ActorLink" type="ActorReferenceType" maxOccurs="unbounded"/>
							<xs:element name="Actor" type="ActorType" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="To" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ActorLink" type="ActorReferenceType" maxOccurs="unbounded"/>
							<xs:element name="Actor" type="ActorType" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Purpose" type="PurposeType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="Body">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Insurance" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Payer" type="InsuranceType" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="AdvanceDirectives" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="AdvanceDirective" type="CCRCodedDataObjectType" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Support" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="SupportProvider" type="ActorReferenceType" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="FunctionalStatus" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Function" type="FunctionType" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Problems" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Problem" type="ProblemType" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="FamilyHistory" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="History" type="HistoryType" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="SocialHistory" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="History" maxOccurs="unbounded">
											<xs:complexType>
												<xs:complexContent>
													<xs:extension base="CCRCodedDataObjectType">
														<xs:sequence>
															<xs:element name="Episodes" type="EpisodesType" minOccurs="0"/>
														</xs:sequence>
													</xs:extension>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Alerts" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Alert" type="AlertType" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Medications" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Medication" type="StructuredProductType" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="MedicalEquipment" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Equipment" type="StructuredProductType" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Immunizations" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Immunization" type="StructuredProductType" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="VitalSigns" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Result" type="ResultType" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Results" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Result" type="ResultType" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Procedures" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Procedure" type="ProcedureType" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Encounters" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Encounter" type="EncounterType" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="PlanOfCare" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Plan" type="PlanType" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="HealthCareProviders" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Provider" type="ActorReferenceType" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Actors">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Actor" type="ActorType" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="References" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Reference" type="ReferenceType" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Comments" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Comment" type="CommentType" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Signatures" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CCRSignature" type="SignatureType" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--CCR Complex Types-->
	<xs:complexType name="PurposeType">
		<xs:sequence>
			<xs:element name="DateTime" type="DateTimeType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="Description" maxOccurs="unbounded"/>
			<xs:element name="OrderRequest" type="PlanOfCareType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Indication" type="IndicationType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="Reference" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="Comment" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InsuranceType">
		<xs:complexContent>
			<xs:extension base="CCRCodedDataObjectType">
				<xs:sequence>
					<xs:element name="PaymentProvider" type="ActorReferenceType" minOccurs="0"/>
					<xs:element name="Subscriber" type="ActorReferenceType" minOccurs="0"/>
					<xs:element ref="IDs" minOccurs="0"/>
					<xs:element name="Authorizations" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Authorization" type="AuthorizationType" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FunctionType">
		<xs:complexContent>
			<xs:extension base="CCRCodedDataObjectType">
				<xs:sequence>
					<xs:element name="Problem" type="ProblemType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Result" type="ResultType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="HistoryType">
		<xs:complexContent>
			<xs:extension base="CCRCodedDataObjectType">
				<xs:sequence>
					<xs:element name="Problem" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element ref="Type" minOccurs="0"/>
								<xs:element ref="Description" minOccurs="0"/>
								<xs:group ref="SLRCGroup"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="FamilyMember" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="ActorReferenceType">
									<xs:sequence>
										<xs:element name="Episodes" type="EpisodesType" minOccurs="0"/>
										<xs:element name="HealthStatus" type="CurrentHealthStatusType" minOccurs="0"/>
										<xs:group ref="SLRCGroup"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ProblemType">
		<xs:complexContent>
			<xs:extension base="CCRCodedDataObjectType">
				<xs:sequence>
					<xs:element name="Episodes" type="EpisodesType" minOccurs="0"/>
					<xs:element name="HealthStatus" type="CurrentHealthStatusType" minOccurs="0"/>
					<xs:element name="PatientKnowledge" type="PatientKnowledgeType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AlertType">
		<xs:complexContent>
			<xs:extension base="CCRCodedDataObjectType">
				<xs:sequence>
					<xs:element name="Agent" type="AgentType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Reaction" type="ReactionType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ActorType">
		<xs:sequence>
			<xs:element name="ActorObjectID" type="xs:ID"/>
			<xs:choice>
				<xs:element name="Person">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Name">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="BirthName" type="PersonNameType" minOccurs="0"/>
										<xs:element name="FormerName" type="PersonNameType" minOccurs="0" maxOccurs="unbounded"/>
										<xs:element name="CurrentName" type="PersonNameType" minOccurs="0"/>
										<xs:element name="DisplayName" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="DateOfBirth" type="DateTimeType" minOccurs="0"/>
							<xs:element name="Gender" type="GenderEnum" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Organization">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Name" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="InformationSystem">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Name" type="xs:string"/>
							<xs:element name="Type" type="xs:string" minOccurs="0"/>
							<xs:element name="Version" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<xs:element name="IDs" type="IDType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Relation" type="CodedDescriptionType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Specialty" type="CodedDescriptionType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Address" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType mixed="true">
					<xs:sequence>
						<xs:element ref="Type" minOccurs="0"/>
						<xs:element name="Line1" type="xs:string" minOccurs="0"/>
						<xs:element name="Line2" type="xs:string" minOccurs="0"/>
						<xs:element name="City" type="xs:string" minOccurs="0"/>
						<xs:element name="County" type="xs:string" minOccurs="0"/>
						<xs:element name="State" type="xs:string" minOccurs="0"/>
						<xs:element name="Country" type="xs:string" minOccurs="0"/>
						<xs:element name="PostalCode" type="xs:string" minOccurs="0"/>
						<xs:element name="Priority" type="xs:string" minOccurs="0"/>
						<xs:element ref="Status" minOccurs="0"/>
					</xs:sequence>
					<xs:attribute name="Preferred" type="xs:string"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Telephone" type="CommunicationType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="EMail" type="CommunicationType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="URL" type="CommunicationType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="Status" minOccurs="0"/>
			<xs:group ref="SLRCGroup"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StructuredProductType">
		<xs:complexContent>
			<xs:extension base="CCRCodedDataObjectType">
				<xs:sequence>
					<xs:element name="Product" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="ProductName" type="CodedDescriptionType"/>
								<xs:element name="BrandName" type="CodedDescriptionType" minOccurs="0"/>
								<xs:element name="Strength" minOccurs="0" maxOccurs="unbounded">
									<xs:complexType>
										<xs:complexContent>
											<xs:extension base="MeasureType">
												<xs:sequence>
													<xs:element name="StrengthSequencePosition" type="xs:integer" minOccurs="0"/>
													<xs:element name="VariableStrengthModifier" type="CodedDescriptionType" minOccurs="0"/>
												</xs:sequence>
											</xs:extension>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
								<xs:element name="Form" minOccurs="0" maxOccurs="unbounded">
									<xs:complexType>
										<xs:complexContent>
											<xs:extension base="CodedDescriptionType">
												<xs:sequence>
													<xs:element name="FormSequencePosition" type="xs:integer" minOccurs="0"/>
													<xs:element name="MultipleFormModifier" type="CodedDescriptionType" minOccurs="0"/>
												</xs:sequence>
											</xs:extension>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
								<xs:element name="Concentration" minOccurs="0" maxOccurs="unbounded">
									<xs:complexType>
										<xs:complexContent>
											<xs:extension base="MeasureType">
												<xs:sequence>
													<xs:element name="ConcentrationSequencePosition" type="xs:integer" minOccurs="0"/>
													<xs:element name="VariableConcentrationModifier" type="CodedDescriptionType" minOccurs="0"/>
												</xs:sequence>
											</xs:extension>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
								<xs:element name="Size" minOccurs="0" maxOccurs="unbounded">
									<xs:complexType>
										<xs:complexContent>
											<xs:extension base="CodedDescriptionType">
												<xs:sequence>
													<xs:element name="Dimensions" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Dimension" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:complexContent>
																			<xs:extension base="MeasureType">
																				<xs:sequence>
																					<xs:element ref="Description"/>
																				</xs:sequence>
																			</xs:extension>
																		</xs:complexContent>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="SizeSequencePosition" type="xs:integer" minOccurs="0"/>
													<xs:element name="VariableSizeModifier" type="CodedDescriptionType" minOccurs="0"/>
												</xs:sequence>
											</xs:extension>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
								<xs:element name="Manufacturer" type="ActorReferenceType" minOccurs="0"/>
								<xs:element name="IDNumber" type="IDType" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element name="ProductSequencePosition" type="xs:integer" minOccurs="0"/>
								<xs:element name="MultipleProductModifier" type="CodedDescriptionType" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<!-- Dosing/ordering information -->
					<xs:element name="Quantity" type="QuantityType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="Directions" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="PatientInstructions" minOccurs="0">
						<xs:annotation>
							<xs:documentation>This tag is used for instructions to the patient  seperate from the "SIG", such as 'Take With Food".
                            </xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Instruction" type="InstructionType" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="FulfillmentInstructions" minOccurs="0">
						<xs:annotation>
							<xs:documentation>This tag is used for dispensing or fulfillment instructions to the pharmacist, such as 'Label in Spanish', 'Generic Substition OK', 'Dispense As Written', or the the Lab, such as 'Save Specimen', 'Freeze Specimen', etc.
                            </xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Instruction" type="InstructionType" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Refills" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Refill" maxOccurs="unbounded">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Number" maxOccurs="unbounded">
												<xs:simpleType>
													<xs:restriction base="xs:integer">
														<xs:minInclusive value="0"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="Quantity" type="QuantityType" minOccurs="0" maxOccurs="unbounded"/>
											<xs:element ref="Status" minOccurs="0"/>
											<xs:element name="DateTime" type="ExactDateTimeType" minOccurs="0" maxOccurs="unbounded"/>
											<xs:element name="Comment" type="CommentType" minOccurs="0" maxOccurs="unbounded"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="SeriesNumber" type="xs:string" minOccurs="0"/>
					<xs:element name="Consent" type="CCRCodedDataObjectType" minOccurs="0"/>
					<xs:element name="FulfillmentHistory" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Fulfillment" type="OrderRxHistoryType" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ResultType">
		<xs:complexContent>
			<xs:extension base="CCRCodedDataObjectType">
				<xs:sequence>
					<xs:element name="Procedure" type="ProcedureType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Substance" type="CodedDescriptionType" minOccurs="0"/>
					<xs:element name="Test" type="TestType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TestType">
		<xs:complexContent>
			<xs:extension base="CCRCodedDataObjectType">
				<xs:sequence>
					<xs:element name="Method" type="CodedDescriptionType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Agent" type="AgentType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="TestResult" type="TestResultType"/>
					<xs:element name="NormalResult" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Normal" type="NormalType" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Flag" type="CodedDescriptionType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="ConfidenceValue" type="CodedDescriptionType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EncounterType">
		<xs:complexContent>
			<xs:extension base="CCRCodedDataObjectType">
				<xs:sequence>
					<xs:element ref="Locations" minOccurs="0"/>
					<xs:element ref="Practitioners" minOccurs="0"/>
					<xs:element name="Frequency" type="FrequencyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Interval" type="IntervalType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Duration" type="DurationType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="Indication" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="Instructions" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ProcedureType">
		<xs:complexContent>
			<xs:extension base="EncounterType">
				<xs:sequence>
					<xs:element ref="Products" minOccurs="0"/>
					<xs:element name="Substance" type="CodedDescriptionType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Method" type="MethodType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Position" type="PositionType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Site" type="SiteType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GoalType">
		<xs:complexContent>
			<xs:extension base="EncounterType">
				<xs:sequence>
					<xs:element name="Milestones" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Outcome" type="CCRCodedDataObjectType" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PlanType">
		<xs:complexContent>
			<xs:extension base="CCRCodedDataObjectType">
				<xs:sequence>
					<xs:element name="OrderRequest" type="PlanOfCareType" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="InterventionType">
		<xs:complexContent>
			<xs:extension base="CCRCodedDataObjectType">
				<xs:sequence>
					<xs:element ref="Procedures" minOccurs="0"/>
					<xs:element ref="Products" minOccurs="0"/>
					<xs:element name="Medications" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Medication" type="StructuredProductType" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Immunizations" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Immunization" type="StructuredProductType" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element ref="Services" minOccurs="0"/>
					<xs:element ref="Encounters" minOccurs="0"/>
					<xs:element name="Authorizatons" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Authorization" type="AuthorizationType" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PlanOfCareType">
		<xs:complexContent>
			<xs:extension base="InterventionType">
				<xs:sequence>
					<xs:element ref="Goals" minOccurs="0"/>
					<xs:element name="OrderSequencePosition" type="xs:integer" minOccurs="0"/>
					<xs:element name="MultipleOrderModifier" type="CodedDescriptionType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OrderRxHistoryType">
		<xs:complexContent>
			<xs:extension base="CCRCodedDataObjectType">
				<xs:sequence>
					<xs:element name="FulfillmentMethod" type="CodedDescriptionType" minOccurs="0"/>
					<xs:element name="Provider" type="ActorReferenceType" minOccurs="0"/>
					<xs:element name="Location" type="ActorReferenceType" minOccurs="0"/>
					<xs:element name="Reaction" type="ReactionType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="ProductName" type="CodedDescriptionType" minOccurs="0"/>
					<xs:element name="BrandName" type="xs:string" minOccurs="0"/>
					<xs:element name="Manufacturer" type="ActorReferenceType" minOccurs="0"/>
					<xs:element name="IDNumber" type="IDType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Strength" type="MeasureType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Form" type="CodedDescriptionType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Concentration" type="MeasureType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Quantity" type="MeasureType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="LabelInstructions" type="InstructionType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="SeriesNumber" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ActorReferenceType">
		<xs:sequence>
			<xs:element name="ActorID" type="xs:IDREF" minOccurs="0"/>
			<xs:element name="ActorRole" type="CodedDescriptionType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonNameType">
		<xs:sequence>
			<xs:element name="Given" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Middle" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Family" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Suffix" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Title" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="NickName" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CodedDescriptionType">
		<xs:sequence>
			<xs:element name="Text" type="xs:string" minOccurs="0"/>
			<xs:element name="ObjectAttribute" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Attribute" type="xs:string"/>
						<xs:element name="AttributeValue" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Value"/>
									<xs:element name="Code" type="CodeType" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Code" type="CodeType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
				<xs:unique name="UniqueValues">
					<xs:selector xpath="./AttributeValue"/>
					<xs:field xpath="Value"/>
				</xs:unique>
			</xs:element>
			<xs:element name="Code" type="CodeType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IDType">
		<xs:sequence>
			<xs:element name="DateTime" type="DateTimeType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="Type" minOccurs="0"/>
			<xs:element name="ID" type="xs:string"/>
			<xs:element name="IssuedBy" type="ActorReferenceType" minOccurs="0"/>
			<xs:group ref="SLRCGroup"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CodeType">
		<xs:sequence>
			<xs:element name="Value" type="xs:string"/>
			<xs:element name="CodingSystem" type="xs:string" minOccurs="0"/>
			<xs:element name="Version" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CommentType">
		<xs:sequence>
			<xs:element name="CommentObjectID" type="xs:ID"/>
			<xs:element name="DateTime" type="ISO8601DateTime"/>
			<xs:element ref="Type" minOccurs="0"/>
			<xs:element ref="Description"/>
			<xs:element name="Source" type="ActorReferenceType" maxOccurs="unbounded"/>
			<xs:element ref="Reference"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReferenceType">
		<xs:sequence>
			<xs:element name="ReferenceObjectID" type="xs:ID"/>
			<xs:element name="DateTime" type="ExactDateTimeType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="Type" minOccurs="0"/>
			<xs:element ref="Description" minOccurs="0"/>
			<xs:element name="Source" type="ActorReferenceType" maxOccurs="unbounded"/>
			<xs:element ref="Locations" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SourceType">
		<xs:sequence>
			<xs:element ref="Description" minOccurs="0"/>
			<xs:element ref="Actor" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="DateTime" type="ExactDateTimeType" minOccurs="0"/>
			<xs:element ref="Reference" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="Comment" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SignatureType">
		<xs:sequence>
			<xs:element name="SignatureObjectID" type="xs:ID"/>
			<xs:element name="ExactDateTime" type="ISO8601DateTimeSeconds" minOccurs="0"/>
			<xs:element ref="Type" minOccurs="0"/>
			<xs:element ref="IDs" minOccurs="0"/>
			<xs:element name="Source" type="ActorReferenceType" minOccurs="0"/>
			<xs:element name="Signature"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InternalCCRLinkType">
		<xs:sequence>
			<xs:element name="LinkID" type="xs:IDREF">
				<xs:annotation>
					<xs:documentation>This is an xs:IDREF to the CCRDataObjectID of the data object in the CCR to which this data object is linked.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LinkRelationship" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>This defines the relationship between the two data objects relative to this link.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Source" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This defines the Source of the Link - whom/what defined that there was a link between these two data items and what the LinkRelationship is.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="SourceType"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IndicationType">
		<xs:sequence>
			<xs:element name="PRNFlag" type="CodedDescriptionType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This is used to define a constraint or modifier on the Indication, such as "PRN".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="Description" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Problem" type="ProblemType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="PhysiologicalParameter" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="MeasureType">
							<xs:sequence>
								<xs:element name="ParameterSequencePosition" type="xs:integer" minOccurs="0"/>
								<xs:element name="VariableParameterModifier" type="CodedDescriptionType" minOccurs="0"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:group ref="SLRCGroup"/>
			<xs:element name="IndicationSequencePosition" type="xs:integer" minOccurs="0"/>
			<xs:element name="MultipleIndicationModifier" type="CodedDescriptionType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NormalType">
		<xs:sequence>
			<xs:element ref="Description" minOccurs="0"/>
			<xs:element ref="Type" minOccurs="0"/>
			<xs:group ref="MeasureGroup"/>
			<xs:element name="ValueSequencePosition" type="xs:integer" minOccurs="0"/>
			<xs:element name="VariableNomalModifier" type="CodedDescriptionType" minOccurs="0"/>
			<xs:group ref="SLRCGroup"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CommunicationType">
		<xs:sequence>
			<xs:element name="Value" type="xs:string"/>
			<xs:element ref="Type" minOccurs="0"/>
			<xs:element name="Priority" type="xs:string" minOccurs="0"/>
			<xs:element ref="Status" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PatientKnowledgeType">
		<xs:sequence>
			<xs:element name="PatientAware" type="YesNoUnknown"/>
			<xs:element ref="Description" minOccurs="0"/>
			<xs:group ref="SLRCGroup"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CurrentHealthStatusType">
		<xs:sequence>
			<xs:element name="DateTime" type="DateTimeType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="Description" minOccurs="0"/>
			<xs:element name="CauseOfDeath" type="YesNoUnknown" minOccurs="0"/>
			<xs:group ref="SLRCGroup"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AgentType">
		<xs:sequence>
			<xs:element name="Products" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Product" type="StructuredProductType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EnvironmentalAgents" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="EnvironmentalAgent" type="CCRCodedDataObjectType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Problems" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Problem" type="ProblemType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="Procedures" minOccurs="0"/>
			<xs:element name="Results" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Result" type="ResultType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EpisodeType">
		<xs:complexContent>
			<xs:extension base="CCRCodedDataObjectType">
				<xs:sequence>
					<xs:element name="Duration" type="DurationType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ReactionType">
		<xs:sequence>
			<xs:element ref="Description" minOccurs="0"/>
			<xs:element name="Severity" type="CodedDescriptionType" minOccurs="0"/>
			<xs:element name="Interventions" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Intervention" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:sequence>
										<xs:element name="CCRDataObjectID" type="xs:ID">
											<xs:annotation>
												<xs:documentation>The is the unique object ID of this data object and is required.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="DateTime" type="DateTimeType" minOccurs="0" maxOccurs="unbounded"/>
										<xs:element ref="Type" minOccurs="0"/>
										<xs:element ref="Description" minOccurs="0"/>
										<xs:element ref="Status" minOccurs="0"/>
										<xs:group ref="SLRCGroup"/>
									</xs:sequence>
									<xs:sequence>
										<xs:element ref="Procedures" minOccurs="0"/>
										<xs:element ref="Products" minOccurs="0"/>
										<xs:element ref="Medications" minOccurs="0"/>
										<xs:element ref="Immunizations" minOccurs="0"/>
										<xs:element ref="Services" minOccurs="0"/>
										<xs:element ref="Encounters" minOccurs="0"/>
									</xs:sequence>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ReactionSequencePosition" type="xs:integer" minOccurs="0"/>
			<xs:element name="MultipleReactionModifier" type="CodedDescriptionType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MeasureType">
		<xs:sequence>
			<xs:element name="Value" type="xs:string"/>
			<xs:element name="Units" type="xs:string" minOccurs="0"/>
			<xs:element name="Code" type="CodeType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DurationType">
		<xs:sequence>
			<xs:element ref="Description" minOccurs="0"/>
			<xs:sequence>
				<xs:element name="DateTime" type="DateTimeType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:group ref="MeasureGroup"/>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DoseCalculationType">
		<xs:sequence>
			<xs:element name="Dose" type="MeasureType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This defines the dose value and units.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Variable" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>This defines one or more variables that when calculated with the dose define the actual dose.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="MeasureType">
							<xs:sequence>
								<xs:element name="VariableIdentifier" type="xs:string">
									<xs:annotation>
										<xs:documentation>This is a term that identifies this variable in the Dose Calculation Equation.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="VariableSequencePosition" minOccurs="0">
									<xs:annotation>
										<xs:documentation>This is the Sequence Position of this variable in the Dose Calculation Equation.</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:integer">
											<xs:minInclusive value="1"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="VariableModifier" type="CodedDescriptionType" minOccurs="0">
									<xs:annotation>
										<xs:documentation>This is text or text and coded Modifier for the Variable.</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="CalculationEquation" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This is a string that is the Dose Calculation Equation used to calculate the actual dose.  It uses, as its parameters, the Dose and the VariableIndentifier to describe the dose.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DurationSubType"/>
	<xs:complexType name="FrequencyType">
		<xs:sequence>
			<xs:element ref="Description" minOccurs="0"/>
			<xs:group ref="MeasureGroup"/>
			<xs:element name="FrequencySequencePosition" type="xs:integer" minOccurs="0"/>
			<xs:element name="VariableFrequencyModifier" type="CodedDescriptionType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AuthorizationType">
		<xs:complexContent>
			<xs:extension base="CCRCodedDataObjectType">
				<xs:sequence>
					<xs:element name="Purpose" type="PurposeType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="Practitioners" minOccurs="0"/>
					<xs:element ref="Procedures" minOccurs="0"/>
					<xs:element ref="Products" minOccurs="0"/>
					<xs:element ref="Medications" minOccurs="0"/>
					<xs:element name="Immunizations" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Immunization" type="StructuredProductType" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element ref="Services" minOccurs="0"/>
					<xs:element ref="Encounters" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EpisodesType">
		<xs:sequence>
			<xs:element name="Number" type="xs:string" minOccurs="0"/>
			<xs:element name="Frequency" type="MeasureType" minOccurs="0"/>
			<xs:element name="Episode" type="EpisodeType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:group ref="SLRCGroup"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VehicleType">
		<xs:sequence>
			<xs:element ref="Description" minOccurs="0"/>
			<xs:element name="Product" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ProductName" type="CodedDescriptionType"/>
						<xs:element name="BrandName" type="CodedDescriptionType" minOccurs="0"/>
						<xs:element name="Strength" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="MeasureType">
										<xs:sequence>
											<xs:element name="StrengthSequencePosition" type="xs:integer" minOccurs="0"/>
											<xs:element name="VariableStrengthModifier" type="CodedDescriptionType" minOccurs="0"/>
										</xs:sequence>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="Form" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="CodedDescriptionType">
										<xs:sequence>
											<xs:element name="FormSequencePosition" type="xs:integer" minOccurs="0"/>
											<xs:element name="MultipleFormModifier" type="CodedDescriptionType" minOccurs="0"/>
										</xs:sequence>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="Concentration" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="MeasureType">
										<xs:sequence>
											<xs:element name="ConcentrationSequencePosition" type="xs:integer" minOccurs="0"/>
											<xs:element name="VariableConcentrationModifier" type="CodedDescriptionType" minOccurs="0"/>
										</xs:sequence>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="Size" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="CodedDescriptionType">
										<xs:sequence>
											<xs:element name="SizeSequencePosition" type="xs:integer" minOccurs="0"/>
											<xs:element name="VariableSizeModifier" type="CodedDescriptionType" minOccurs="0"/>
										</xs:sequence>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="ProductSequencePosition" type="xs:integer" minOccurs="0"/>
						<xs:element name="MultipleProductModifier" type="CodedDescriptionType" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Manufacturer" type="ActorReferenceType" minOccurs="0"/>
			<xs:element ref="IDs" minOccurs="0"/>
			<xs:element name="Quantity" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="MeasureType">
							<xs:sequence>
								<xs:element name="QuantitySequencePosition" type="xs:integer" minOccurs="0"/>
								<xs:element name="VariableQuantityModifier" type="CodedDescriptionType" minOccurs="0"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="VehicleSequencePosition" type="xs:integer" minOccurs="0"/>
			<xs:element name="MultipleVehicleModifier" type="CodedDescriptionType" minOccurs="0"/>
			<xs:element ref="InternalCCRLink" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IntervalType">
		<xs:sequence>
			<xs:element ref="Description" minOccurs="0"/>
			<xs:group ref="MeasureGroup"/>
			<xs:element name="IntervalSequencePosition" type="xs:integer" minOccurs="0"/>
			<xs:element name="VariableIntervalModifier" type="CodedDescriptionType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="QuantityType">
		<xs:complexContent>
			<xs:extension base="MeasureType">
				<xs:sequence>
					<xs:element name="QuantitySequencePosition" type="xs:integer" minOccurs="0"/>
					<xs:element name="VariableQuantityModifier" type="CodedDescriptionType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="InstructionType">
		<xs:complexContent>
			<xs:extension base="CodedDescriptionType">
				<xs:sequence>
					<xs:element name="instructionSequencePosition" type="xs:integer" minOccurs="0"/>
					<xs:element name="MultipleInstructionModifier" type="CodedDescriptionType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SiteType">
		<xs:complexContent>
			<xs:extension base="CodedDescriptionType">
				<xs:sequence>
					<xs:element name="SiteSequencePosition" type="xs:integer" minOccurs="0"/>
					<xs:element name="MultipleSiteModifier" type="CodedDescriptionType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PositionType">
		<xs:complexContent>
			<xs:extension base="CodedDescriptionType">
				<xs:sequence>
					<xs:element name="PositionSequencePosition" type="xs:integer" minOccurs="0"/>
					<xs:element name="MultiplePositionModifier" type="CodedDescriptionType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MethodType">
		<xs:complexContent>
			<xs:extension base="CodedDescriptionType">
				<xs:sequence>
					<xs:element name="MethodSequencePosition" type="xs:integer" minOccurs="0"/>
					<xs:element name="MultipleMethodModifier" type="CodedDescriptionType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RateType">
		<xs:sequence>
			<xs:element ref="Description" minOccurs="0"/>
			<xs:group ref="MeasureGroup"/>
			<xs:element name="RateSequencePosition" type="xs:integer" minOccurs="0"/>
			<xs:element name="VariableRateModifier" type="CodedDescriptionType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TestResultType">
		<xs:sequence>
			<xs:group ref="MeasureGroup"/>
			<xs:element ref="Description" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ResultSequencePosition" type="xs:integer" minOccurs="0"/>
			<xs:element name="VariableResultModifier" type="CodedDescriptionType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!--Groups Used Repeatedly in the CCR-->
	<xs:group name="SLRCGroup">
		<xs:annotation>
			<xs:documentation>This is a Group that combines Source, InternalCCRLink, Reference, Comment, and Signature to simplify their reiterative use in the CCR .xsd.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Source" type="SourceType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>This defines the Source for the data object - which defines whom/what the data are from. Source is required.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="InternalCCRLink" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="Reference" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="Comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Signature" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SignatureID" type="xs:IDREF">
							<xs:annotation>
								<xs:documentation>This is an xs:IDREF to the SignatureObjectID in the Signatures Section of the CCR.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:group name="FreqDurGroup">
		<!-- FreqDurGroup is used in many places where frequency and duration may both need to be indicated. -->
		<xs:sequence>
			<xs:element name="DateTime" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Type" minOccurs="0"/>
						<xs:element name="ExactDateTime" type="ISO8601DateTime" minOccurs="0"/>
						<xs:element ref="Age" minOccurs="0"/>
						<xs:element name="ApproximateDateTime" type="CodedDescriptionType" minOccurs="0"/>
						<xs:element name="DateTimeRange" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="BeginRange" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ExactDateTime" type="ISO8601DateTime" minOccurs="0"/>
												<xs:element ref="Age" minOccurs="0"/>
												<xs:element name="ApproximateDateTime" type="CodedDescriptionType" minOccurs="0"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="EndRange" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ExactDateTime" type="ISO8601DateTime" minOccurs="0"/>
												<xs:element ref="Age" minOccurs="0"/>
												<xs:element name="ApproximateDateTime" type="CodedDescriptionType" minOccurs="0"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="DateTimeSequencePosition" type="xs:integer" minOccurs="0"/>
						<xs:element name="MultipleDateTimeModifier" type="CodedDescriptionType" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Rate" type="RateType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Frequency" type="FrequencyType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Interval" type="IntervalType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Duration" type="DurationType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:group>
	<xs:group name="MeasureGroup">
		<!-- MeasureGroup is used where a measure is needed.  The value must be present, and the units should be present. -->
		<xs:sequence>
			<xs:element name="Value" type="xs:string" minOccurs="0"/>
			<xs:element name="Units" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:group>
	<!--These are the Various Expressions of Time in the CCR-->
	<xs:complexType name="DateTimeType">
		<xs:annotation>
			<xs:documentation>This is used for the expression of DateTime as exact or inexact.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Type" minOccurs="0"/>
			<xs:element name="ExactDateTime" type="ISO8601DateTime" minOccurs="0"/>
			<xs:element ref="Age" minOccurs="0"/>
			<xs:element name="ApproximateDateTime" type="CodedDescriptionType" minOccurs="0"/>
			<xs:element name="DateTimeRange" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="BeginRange" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ExactDateTime" type="ISO8601DateTime" minOccurs="0"/>
									<xs:element ref="Age" minOccurs="0"/>
									<xs:element name="ApproximateDateTime" type="CodedDescriptionType" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="EndRange" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ExactDateTime" type="ISO8601DateTime" minOccurs="0"/>
									<xs:element ref="Age" minOccurs="0"/>
									<xs:element name="ApproximateDateTime" type="CodedDescriptionType" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExactDateTimeType">
		<xs:annotation>
			<xs:documentation>This is used to express time as exact, but not necessarily down to the second.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Type" minOccurs="0"/>
			<xs:element name="ExactDateTime" type="ISO8601DateTime" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ISO8601DateTimeSeconds">
		<xs:annotation>
			<xs:documentation>
                This is a simple type that allows date times to be expressed as ISO-8601 date-time formats, 
                with precision of at least seconds.
            </xs:documentation>
		</xs:annotation>
		<xs:restriction base="ISO8601DateTime">
			<xs:pattern value="\d\d\d\d\-\d\d\-\d\dT\d\d:\d\d:\d\d(Z|([\-+])\d\d:\d\d)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISO8601DateTime">
		<xs:annotation>
			<xs:documentation>
                This is a simple type that allows date times to be expressed as ISO-8601 date-time formats, e.g.,
                CCYY[-MM[-DD[Thh[:mm[:ss]]]]Z
                CCYY[-MM[-DD[Thh[:mm[:ss]]]]+hh:mm
                CCYY[-MM[-DD[Thh[:mm[:ss]]]]-hh:mm
                
                All date times in the CCR must express a timezone offset, either using Z [universal coordinated 
                time, or Zulu time], or an offset in hours and minutes.  The CCR futher requires that the Timezone
                offset be a legal time zone.  This latter constraint cannot be expressed in the schema, as time 
                zones are determined by political entities [e.g., Nations or States].  There presently exist time
                zones in the form ##:15 and ##:30.
            </xs:documentation>
		</xs:annotation>
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:annotation>
						<xs:documentation>Every month except February can have 30 days</xs:documentation>
					</xs:annotation>
					<xs:pattern value="\d\d\d\d(\-(0[13-9]|1[012])(\-((0[1-9])|1\d|2\d|30)(T(0\d|1\d|2[0-3])(:[0-5]\d){0,2})?)?)?(Z|(\-|\+)(0\d|1\d|2[0-3])(:[0-5]\d))"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:annotation>
						<xs:documentation>Jan, Mar, May, Jul, Aug, Oct, and Dec can have 31 days</xs:documentation>
					</xs:annotation>
					<xs:pattern value="\d\d\d\d(\-(0[13578]|1[02])(\-31(T(0\d|1\d|2[0-3])(:[0-5]\d){0,2})?)?)?(Z|(\-|\+)(0\d|1\d|2[0-3])(:[0-5]\d))"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:annotation>
						<xs:documentation>Feb in any year can have 28 days</xs:documentation>
					</xs:annotation>
					<xs:pattern value="\d\d\d\d(\-02(\-((0[1-9])|1\d|2[0-8])(T(0\d|1\d|2[0-3])(:[0-5]\d){0,2})?)?)?(Z|(\-|\+)(0\d|1\d|2[0-3])(:[0-5]\d))"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:annotation>
						<xs:documentation>Feb in years ending in 04 or 08 can have 29 days </xs:documentation>
					</xs:annotation>
					<xs:pattern value="\d\d[0][48](\-02(\-29(T(0\d|1\d|2[0-3])(:[0-5]\d){0,2})?)?)?(Z|(\-|\+)(0\d|1\d|2[0-3])(:[0-5]\d))"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:annotation>
						<xs:documentation>Feb in years ending in 20, 24, 28, 40, 44, 48, 60, 64, 68, 80, 84 or 88 can have 29 days </xs:documentation>
					</xs:annotation>
					<xs:pattern value="\d\d[2468][48](\-02(\-29(T(0\d|1\d|2[0-3])(:[0-5]\d){0,2})?)?)?(Z|(\-|\+)(0\d|1\d|2[0-3])(:[0-5]\d))"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:annotation>
						<xs:documentation>Feb in years ending in 12, 16, 32, 36, 52, 56, 72, 76, 92 or 96 can have 29 days </xs:documentation>
					</xs:annotation>
					<xs:pattern value="\d\d[13579][26](\-02(\-29(T(0\d|1\d|2[0-3])(:[0-5]\d){0,2})?)?)?(Z|(\-|\+)(0\d|1\d|2[0-3])(:[0-5]\d))"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:annotation>
						<xs:documentation>Feb in Centuries divisible by 4 can have 29 days</xs:documentation>
					</xs:annotation>
					<xs:pattern value="[02468][048]00(\-02(\-29(T(0\d|1\d|2[0-3])(:[0-5]\d){0,2})?)?)?(Z|(\-|\+)(0\d|1\d|2[0-3])(:[0-5]\d))"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:annotation>
						<xs:documentation>Feb in Centuries divisible by 4 can have 29 days</xs:documentation>
					</xs:annotation>
					<xs:pattern value="[13579][26]00(\-02(\-29(T(0\d|1\d|2[0-3])(:[0-5]\d){0,2})?)?)?(Z|(\-|\+)(0\d|1\d|2[0-3])(:[0-5]\d))"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<!-- Enumerations -->
	<xs:simpleType name="ActorRoleEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Patient"/>
			<xs:enumeration value="Physician"/>
			<xs:enumeration value="Fellow"/>
			<xs:enumeration value="Chief Resident Physician"/>
			<xs:enumeration value="Resident Physician"/>
			<xs:enumeration value="Medical Student"/>
			<xs:enumeration value="Pharmacist"/>
			<xs:enumeration value="Opthalmologist"/>
			<xs:enumeration value="Psychologist"/>
			<xs:enumeration value="Physician Assistant"/>
			<xs:enumeration value="Nurse Practitioner"/>
			<xs:enumeration value="Registered Nurse"/>
			<xs:enumeration value="Licensed Vocational Nurse"/>
			<xs:enumeration value="Nursing Aide"/>
			<xs:enumeration value="Medical Assistant"/>
			<xs:enumeration value="Clerk"/>
			<xs:enumeration value="Ancillary Care Provider"/>
			<xs:enumeration value="Guarantor"/>
			<xs:enumeration value="Durable Power of Attorney"/>
			<xs:enumeration value="Relative"/>
			<xs:enumeration value="Family Member"/>
			<xs:enumeration value="Spouse"/>
			<xs:enumeration value="Legal Guardian"/>
			<xs:enumeration value="Caregiver"/>
			<xs:enumeration value="Respiratory Therapist"/>
			<xs:enumeration value="Physical Therapist"/>
			<xs:enumeration value="Occupational Therapist"/>
			<xs:enumeration value="Technician"/>
			<xs:enumeration value="Pharmacy Technician"/>
			<xs:enumeration value="Cardiac Echography Technician"/>
			<xs:enumeration value="Radiology Technician"/>
			<xs:enumeration value="Ultrasound Technician"/>
			<xs:enumeration value="Non-Invasive Vascular Technician"/>
			<xs:enumeration value="Social Worker"/>
			<xs:enumeration value="Psychiatric Social Worker"/>
			<xs:enumeration value="Friend"/>
			<xs:enumeration value="Family Friend"/>
			<xs:enumeration value="Significant Other"/>
			<xs:enumeration value="Organ or Tissue Donor"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GenderEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Male"/>
			<xs:enumeration value="Female"/>
			<xs:enumeration value="Unknown"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PaymentProviderEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Self Pay"/>
			<xs:enumeration value="Primary Health Insurance"/>
			<xs:enumeration value="Supplemental Health Insurance"/>
			<xs:enumeration value="Health Savings Account"/>
			<xs:enumeration value="Prescription Drug Benefit"/>
			<xs:enumeration value="Worker's Compensation Insurance"/>
			<xs:enumeration value="Auto Insurance"/>
			<xs:enumeration value="Dental Insurance"/>
			<xs:enumeration value="Long Term Care Insurance"/>
			<xs:enumeration value="Other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DirectiveEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Resusitation Status"/>
			<xs:enumeration value="IV"/>
			<xs:enumeration value="Intubation"/>
			<xs:enumeration value="CPR"/>
			<xs:enumeration value="Antibiotics"/>
			<xs:enumeration value="Tube Feediing"/>
			<xs:enumeration value="Life Support"/>
			<xs:enumeration value="Other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ProblemTypeEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Problem"/>
			<xs:enumeration value="Condition"/>
			<xs:enumeration value="Diagnosis"/>
			<xs:enumeration value="Symptom"/>
			<xs:enumeration value="Finding"/>
			<xs:enumeration value="Complaint"/>
			<xs:enumeration value="Functional Limitation"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RiskFactorEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Occupation"/>
			<xs:enumeration value="Tobacco Use and Exposure"/>
			<xs:enumeration value="Alcohol Use"/>
			<xs:enumeration value="Recreational Drug Use"/>
			<xs:enumeration value="Diet"/>
			<xs:enumeration value="Excercise"/>
			<xs:enumeration value="Toxic Exposure"/>
			<xs:enumeration value="Lifestyle Risks"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AlertTypeEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Allergy"/>
			<xs:enumeration value="AdverseReaction"/>
			<xs:enumeration value="Alert"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ProductTypeEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Medication"/>
			<xs:enumeration value="Immunization"/>
			<xs:enumeration value="Disposable"/>
			<xs:enumeration value="Medical Device"/>
			<xs:enumeration value="Implantable Medical Device"/>
			<xs:enumeration value="Durable Medical Equipment"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="YesNo">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Yes"/>
			<xs:enumeration value="No"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="YesNoUnknown">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Yes"/>
			<xs:enumeration value="No"/>
			<xs:enumeration value="Unknown"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TestTypeEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Observation"/>
			<xs:enumeration value="Result"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NormalTypeEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Exact Value"/>
			<xs:enumeration value="Range"/>
			<xs:enumeration value="Less Than"/>
			<xs:enumeration value="Greater Than"/>
			<xs:enumeration value="Minimum"/>
			<xs:enumeration value="Maximum"/>
			<xs:enumeration value="Other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ReactionTypeEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Mild"/>
			<xs:enumeration value="Moderate"/>
			<xs:enumeration value="Severe"/>
			<xs:enumeration value="Life Threatening"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Reusable Global Elements -->
	<xs:complexType name="CCRCodedDataObjectType">
		<xs:annotation>
			<xs:documentation>This defines a Base Type used to capture: a) the Data Object ID; b) the DateTime; c) a Type descriptor; d) the text Description of a data object and any appropriate coding; e) a Status descriptor; f) the Source; g) any Link; h) any Reference; i) any Comment,  to simplify their reiterative use in the CCR .xsd.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CCRDataObjectID" type="xs:ID">
				<xs:annotation>
					<xs:documentation>The is the unique object ID of this data object and is required.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DateTime" type="DateTimeType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="Type" minOccurs="0"/>
			<xs:element ref="Description" minOccurs="0"/>
			<xs:element ref="Status" minOccurs="0"/>
			<xs:group ref="SLRCGroup"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Directions">
		<xs:annotation>
			<xs:documentation>This is the SIG or administration instruction portion of a prescription or order, or the Directions for use of any product.
            </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Description" minOccurs="0"/>
				<xs:element name="Dose" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="MeasureType">
								<xs:sequence>
									<xs:element name="DoseSequencePosition" type="xs:integer" minOccurs="0"/>
									<xs:element name="VariableDoseModifier" type="CodedDescriptionType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>This is a text Modifier for a variable dose and is Optional.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="DoseCalculation" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="DoseCalculationType">
								<xs:sequence>
									<xs:element name="CalculationSequencePosition" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:integer">
												<xs:minInclusive value="1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="VariableCalculationModifier" type="CodedDescriptionType" minOccurs="0"/>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="DoseRestriction" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="DoseCalculationType">
								<xs:sequence>
									<xs:element name="RestrictionSequencePosition" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:integer">
												<xs:minInclusive value="1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="VariableRestrictionModifier" type="CodedDescriptionType" minOccurs="0"/>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="Vehicle" type="VehicleType" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>
                        </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Route" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="CodedDescriptionType">
								<xs:sequence>
									<xs:element name="RouteSequencePosition" type="xs:integer" minOccurs="0"/>
									<xs:element name="MultipleRouteModifier" type="CodedDescriptionType" minOccurs="0"/>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="Site" type="SiteType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:group ref="FreqDurGroup"/>
				<xs:element name="StopIndicator" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Yes"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element ref="Indication" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="DirectionsSequencePosition" type="xs:integer" minOccurs="0"/>
				<xs:element name="MultipleDirectionsModifier" type="CodedDescriptionType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Locations">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Location" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Description" minOccurs="0"/>
							<xs:element name="Actor" type="ActorReferenceType" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Practitioners">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Practitioner" type="ActorReferenceType" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Indications" type="IndicationType"/>
	<xs:element name="Instructions">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Instruction" type="CodedDescriptionType" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Products">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Product" type="StructuredProductType" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Procedures">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Procedure" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:sequence>
								<xs:element name="CCRDataObjectID" type="xs:ID">
									<xs:annotation>
										<xs:documentation>The is the unique object ID of this data object and is required.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="DateTime" type="DateTimeType" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element ref="Type" minOccurs="0"/>
								<xs:element ref="Description" minOccurs="0"/>
								<xs:element ref="Status" minOccurs="0"/>
								<xs:group ref="SLRCGroup"/>
							</xs:sequence>
							<xs:sequence>
								<xs:element ref="Locations" minOccurs="0"/>
								<xs:element ref="Practitioners" minOccurs="0"/>
								<xs:element name="Frequency" type="FrequencyType" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element name="Interval" type="IntervalType" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element name="Duration" type="DurationType" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element ref="Indication" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element ref="Instructions" minOccurs="0"/>
							</xs:sequence>
							<xs:sequence>
								<xs:element name="Products" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Product" type="StructuredProductType" maxOccurs="unbounded"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="Substance" type="CodedDescriptionType" minOccurs="0"/>
								<xs:element name="Method" type="MethodType" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element name="Position" type="PositionType" minOccurs="0" maxOccurs="unbounded"/>
								<xs:element name="Site" type="SiteType" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Medications">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Medication" type="StructuredProductType" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Immunizations">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Immunization" type="StructuredProductType" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Services">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Service" type="EncounterType" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Encounters">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Encounter" type="EncounterType" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Goals">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Goal" type="GoalType" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="IDs">
		<xs:complexType>
			<xs:sequence/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReferenceID" type="xs:IDREF"/>
	<xs:element name="Status" type="CodedDescriptionType"/>
	<xs:element name="Type" type="CodedDescriptionType"/>
	<xs:element name="Description" type="CodedDescriptionType"/>
	<xs:element name="Reference">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ReferenceID" type="xs:IDREF">
					<xs:annotation>
						<xs:documentation>This is an xs:IDREF to the ReferenceObjectID in the References Section of the CCR.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Comment">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CommentID" type="xs:IDREF">
					<xs:annotation>
						<xs:documentation>This is an xs:IDREF to the CommentObjectID in the Comments Section of the CCR.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Actor" type="ActorReferenceType"/>
	<xs:element name="InternalCCRLink" type="InternalCCRLinkType"/>
	<xs:element name="Age" type="MeasureType"/>
	<xs:element name="Indication" type="IndicationType"/>
</xs:schema>
